<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=UTF-8">
    <title>Tourist Guide</title>
</head>
<body>
<h1>Tourist Guide </h1>
<ul>
    <li><a th:href="@{/attractions}" href="#">View All Attractions</a></li>
    <li><a th:href="@{/attractions/add}" href="#">Add Attractions</a></li>
    <li><a th:href="@{/attractions/delete}" href="#">Delete Attractions</a></li>
    <li><a th:href="@{/attractions/update}" href="#">Update Attractions</a></li>
</ul>
</body>
</html>