<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tourist Guide</title>
</head>
<body>
<h1>Tourist Guide </h1>
<ul>
    <li><a th:href="@{/attraction}" href="#">View All Attractions</a></li>
    <li><a th:href="@{/attraction/add}" href="#">Add Attractions</a></li>
    <li><a th:href="@{/attraction/delete}" href="#">Delete Attractions</a></li>
    <li><a th:href="@{/attraction/update}" href="#">Update Attractions</a></li>
</ul>
</body>
</html>